<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdx-lkwG-a1onjrh-2hUVbQT7ONhpv_2c</string>
	<key>GCM_SENDER_ID</key>
	<string>210720504820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pets.findMe</string>
	<key>PROJECT_ID</key>
	<string>find-me-744f4</string>
	<key>STORAGE_BUCKET</key>
	<string>find-me-744f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210720504820:ios:3d7d452f9b98b6634c57a1</string>
</dict>
</plist>